// Fonts
$font-color-normal: rgba(25,25,25,1);
$font-color-dull: rgba(40,40,40,1);

// colors
$background-page-base: rgba(255,255,255,1);
$background-hover: rgba(0,0,0,0.02);
$background-active: rgba(0,0,0,0.07);
$background-selection: rgba(0,107,255,0.15);
$primary-accent-color: rgba(74,144,226,1);

// borders --------------------------------------------------------------------
$border-size-normal: 0.1rem;
$border-size-large: 0.2rem;
$border-color-normal: rgba(242,242,242,1);
$border-color-dark: rgba(225,225,225,1);
$border-radius: 0.4rem;

// buttons
$button-foreground: rgba(85,85,85,1);
$button-background: transparent;
$button-border: solid $border-size-normal $border-color-dark;
$button-primary-foreground: rgba(255,255,255,1);
$button-primary-background: $primary-accent-color;

// forms ----------------------------------------------------------------------
$input-border-normal: $border-color-normal;
$input-border-focus: $primary-accent-color;
$input-foreground-placeholder: lighten($font-color-normal,40%);
$input-error-border: rgba(245,165,164,1);

// code -----------------------------------------------------------------------
$code-background: rgba(0,0,0,0.05);
$code-foreground: $font-color-normal;

// shadows --------------------------------------------------------------------
$shadow-normal: 0 0.2rem 0.3rem rgba(0,0,0,0.08);
$shadow-large: 0 0 1.5rem rgba(0,0,0,0.2);

// links ----------------------------------------------------------------------
$link-foreground-normal: rgba(213,62,60,1);
$link-background-normal: transparent;

// footer ---------------------------------------------------------------------
$footer-background: rgba(25,33,36,1);
$footer-foreground: darken(invert($font-color-dull), 25%);