// variables
// colors
$background-page-base: rgba(251,251,251,1);
$background-container: rgba(255,255,255,1);
$background-hover: rgba(0,0,0,0.02);
$background-active: rgba(0,0,0,0.07);
$background-selection: rgba(204,225,254,1);

// shadows
$shadow-radius-small: 0.08rem;
$shadow-color-small: rgba(0,0,0,0.25);

$shadow-radius-normal: 0.2rem;
$shadow-color-normal: rgba(0,0,0,0.25);

$shadow-radius-large: 1.5rem;
$shadow-color-large: rgba(0,0,0,0.25);

// event colors
$positive-background: rgba(252,255,245,1);
$positive-foreground: rgba(57,165,34,1);
$positive-border-color: rgba(211,250,209,1);

$negative-background: rgba(255,239,239,1);
$negative-foreground: rgba(210,45,43,1);
$negative-border-color: rgba(250,209,209,1);

$alert-background: rgba(255,250,243,1);
$alert-foreground: rgba(165,100,33,1);
$alert-border-color: rgba(250,222,209,1);

$info-background: rgba(248,255,255,1);
$info-foreground: rgba(38,129,178,1);
$info-border-color: rgba(209,232,250,1);


// borders
$border-size-normal: 1px;
$border-size-large: 2px;
$border-color-light: rgba(230,230,230,1);
$border-color-normal: rgba(225,225,225,1);
$border-color-dark: rgba(187,187,187,1);
$border-radius: 4px;

// spacing used for margins and paddings
$spacing-1: 0.5rem;
$spacing-2: 1.0rem;
$spacing-3: 1.5rem;
$spacing-4: 2.0rem;
$spacing-5: 2.5rem;

// fonts
$bold: 600;
$font-size-small: 1.1rem;
$font-size-normal: 1.5rem;
$font-size-large: 1.8rem;

// links
$link-foreground-normal: rgba(12,109,129,1);
$link-background-normal: transparent;
$link-foreground-hover: rgba(9,92,109,1);
$link-background-hover: transparent;

// forms
$form-legend-font-size: 3rem;

// navigation bar
$navigation-bar-background: rgba(255,255,255,1);
$navigation-bar-foreground: rgba(34,34,34,1);
$navigation-bar-anchor-hover-background: $background-hover;
$navigation-bar-border: solid $border-size-normal $border-color-normal;
$navigation-bar-border-hover: solid $border-size-large rgba(89,89,89,1);
$navigation-bar-border-active: solid $border-size-large rgba(117,117,117,1);

// gallery
$gallery-item-width: 22rem;
$gallery-item-height: 15rem;
$gallery-item-gap: 1rem;