// variables ------------------------------------------------------------------
// fonts ----------------------------------------------------------------------
$primary-font: "IBM Plex Sans";
$font-size-small: 1.2rem;
$font-size-normal: 1.5rem;
$font-size-large: 1.8rem;
$font-color-normal: rgba(25,25,25,1);
$font-color-dull: rgba(40,40,40,1);
$line-height: 2.4rem;
$letter-spacing: 0.1rem;
$font-weight-normal: normal;
$font-weight-bold: 550;

// container
$container-width: 1160px;

// colors ---------------------------------------------------------------------
$background-page-base: rgba(255,255,255,1);
$background-hover: rgba(0,0,0,0.02);
$background-active: rgba(0,0,0,0.07);
$background-selection: rgba(0,107,255,0.15);
$primary-accent-color: rgba(74,144,226,1);

// borders --------------------------------------------------------------------
$border-size-normal: 1px;
$border-size-large: 2px;
$border-color-normal: rgba(242,242,242,1);
$border-color-dark: rgba(225,225,225,1);
$border-radius: 4px;

// buttons --------------------------------------------------------------------
$button-height: 4rem;
$button-foreground: rgba(85,85,85,1);
$button-background: transparent;
$button-foreground-hover: rgba(51,51,51,1);
$button-primary-foreground: rgba(255,255,255,1);
$button-primary-background: $primary-accent-color;
$button-primary-hover-foreground: $button-primary-foreground;
$button-primary-hover-background: darken( $button-primary-background, 5% );

// forms ----------------------------------------------------------------------
$input-background: $background-hover;
$input-border-normal: $border-color-normal;
$input-border-focus: $primary-accent-color;
$input-foreground-placeholder: darken($border-color-dark,40%);
$input-error-border: rgba(245,165,164,1);

// switches -------------------------------------------------------------------
$switch-height: 2.5rem;
$switch-width: 4.5rem;
$switch-padding: 0.3rem;
$switch-label-margin: 1.5rem;

// code -----------------------------------------------------------------------
$code-background: rgba(0,0,0,0.05);
$code-foreground: $font-color-normal;

// shadows --------------------------------------------------------------------
$shadow-normal: 0.1rem 0.4rem 0.3rem rgba(0,0,0,0.08);
$shadow-large: 0 0 1.5rem rgba(0,0,0,0.2);

// event colors ---------------------------------------------------------------
$positive-background: rgba(207,236,138,0.47);
$positive-foreground: rgba(17,99,0,1);
// $positive-border-color: rgba(178,255,0,0.5);

$negative-background: rgba(255,0,0,0.15);
$negative-foreground: rgba(128,2,0,1);
// $negative-border-color: rgba(255,0,0,0.11);

$alert-background: rgba(255,148,0,0.19);
$alert-foreground: rgba(123,63,0,1);
// $alert-border-color: rgba(255,80,0,0.15);

$info-background: rgba(0,132,255,0.13);
$info-foreground: rgba(0,98,152,1);
// $info-border-color: rgba(0,143,255,0.15);

// spacing for margins and paddings -------------------------------------------
$spacing-1: 0.5rem;
$spacing-2: 1.0rem;
$spacing-3: 1.5rem;
$spacing-4: 2.0rem;
$spacing-5: 2.5rem;
$spacing-big: 8rem;
$spacing-huge: 12rem;

// links ----------------------------------------------------------------------
$link-foreground-normal: rgba(213,62,60,1);
$link-background-normal: transparent;
$link-foreground-hover: darken( $link-foreground-normal, 10% );
$link-background-hover: transparent;

// navigation bar -------------------------------------------------------------
$navigation-bar-background: $background-page-base;
$navigation-bar-foreground: $font-color-normal;
$navigation-bar-active-border-size: 2px;
$navigation-bar-active-border: solid $navigation-bar-active-border-size $primary-accent-color;

// gallery --------------------------------------------------------------------
$gallery-item-width: 22rem;
$gallery-item-height: 15rem;
$gallery-item-gap: 1rem;

// footer ---------------------------------------------------------------------
$footer-background: rgba(25,33,36,1);
$footer-foreground: lighten( $footer-background, 40% );

// break-points ---------------------------------------------------------------
$resolution-phone: 600px;
$resolution-tablet: 750px;
$resolution-laptop: 1000px;
$resolution-desktop: 1200px;