// settings & variables
// spacing for margins and paddings -------------------------------------------
$spacing-1: 0.5rem;
$spacing-2: 1.0rem;
$spacing-3: 1.5rem;
$spacing-4: 2.0rem;
$spacing-5: 2.5rem;
$spacing-big: 8rem;
$spacing-huge: 12rem;

// fonts ----------------------------------------------------------------------
$primary-font: "IBM Plex Sans";
$font-size-small: 1.2rem;
$font-size-normal: 1.5rem;
$font-size-large: 1.8rem;
$line-height: 2.4rem;
$letter-spacing: 0.1rem;
$font-weight-normal: normal;
$font-weight-bold: 550;
$font-color-normal: rgba(25,25,25,1);
$font-color-dull: rgba(40,40,40,1);

// colors ---------------------------------------------------------------------
$background-page-base: rgba(255,255,255,1);
$background-hover: rgba(0,0,0,0.02);
$background-active: rgba(0,0,0,0.07);
$background-selection: rgba(0,107,255,0.15);
$primary-accent-color: rgba(74,144,226,1);

// event colors ---------------------------------------------------------------
$positive-background: rgba(207,236,138,0.47);
$positive-foreground: rgba(17,99,0,1);

$negative-background: rgba(255,0,0,0.15);
$negative-foreground: rgba(128,2,0,1);

$alert-background: rgba(255,148,0,0.19);
$alert-foreground: rgba(123,63,0,1);

$info-background: rgba(0,132,255,0.13);
$info-foreground: rgba(0,98,152,1);

// borders --------------------------------------------------------------------
$border-size-normal: 0.1rem;
$border-size-large: 0.2rem;
$border-color-normal: rgba(242,242,242,1);
$border-color-dark: rgba(225,225,225,1);
$border-radius: 0.4rem;

// buttons --------------------------------------------------------------------
$button-foreground: rgba(85,85,85,1);
$button-background: transparent;
$button-border: solid $border-size-normal $border-color-dark;
$button-primary-foreground: rgba(255,255,255,1);
$button-primary-background: $primary-accent-color;
$button-height: 4rem;
$button-background: transparent;
$button-border: solid $border-size-normal $border-color-dark;
$button-primary-foreground: rgba(255,255,255,1);
$button-primary-background: $primary-accent-color;

// forms ----------------------------------------------------------------------
$input-border-normal: $border-color-normal;
$input-border-focus: $primary-accent-color;
$input-border-normal: $border-color-normal;
$input-border-focus: $primary-accent-color;
$input-foreground-placeholder: lighten($font-color-normal,40%);
$input-error-border: rgba(245,165,164,1);

// code -----------------------------------------------------------------------
$code-background: rgba(0,0,0,0.05);
$code-foreground: $font-color-normal;

// shadows --------------------------------------------------------------------
$shadow-normal: 0 0.2rem 0.3rem rgba(0,0,0,0.08);
$shadow-large: 0 0 1.5rem rgba(0,0,0,0.2);

// links ----------------------------------------------------------------------
$link-foreground-normal: rgba(213,62,60,1);
$link-background-normal: transparent;

// footer ---------------------------------------------------------------------
$footer-background: rgba(25,33,36,1);
$footer-foreground: darken(invert($font-color-dull), 25%);

// navigation bar -------------------------------------------------------------
$navigation-bar-background: $background-page-base;
$navigation-bar-foreground: $font-color-dull;
$navigation-bar-active-border-size: $border-size-large;
$navigation-bar-active-border: solid $navigation-bar-active-border-size $primary-accent-color;

// gallery --------------------------------------------------------------------
$gallery-item-width: 22rem;
$gallery-item-height: 15rem;
$gallery-item-gap: 1rem;

// container & break-points ---------------------------------------------------
$container-width: 1160px;
$resolution-phone: 600px;
$resolution-tablet: 750px;
$resolution-laptop: 1000px;
$resolution-desktop: 1200px;