@import "light";

// variables ------------------------------------------------------------------
// spacing for margins and paddings -------------------------------------------
$spacing-1: 0.5rem;
$spacing-2: 1.0rem;
$spacing-3: 1.5rem;
$spacing-4: 2.0rem;
$spacing-5: 2.5rem;
$spacing-big: 8rem;
$spacing-huge: 12rem;

// fonts ----------------------------------------------------------------------
$primary-font: "IBM Plex Sans";
$font-size-small: 1.2rem;
$font-size-normal: 1.5rem;
$font-size-large: 1.8rem;
$line-height: 2.4rem;
$letter-spacing: 0.1rem;
$font-weight-normal: normal;
$font-weight-bold: 550;

// container
$container-width: 1160px;

// buttons --------------------------------------------------------------------
$button-height: 4rem;

// switches -------------------------------------------------------------------
$switch-height: 2.5rem;
$switch-width: 4.5rem;
$switch-padding: 0.3rem;
$switch-label-margin: $spacing-3;

// event colors ---------------------------------------------------------------
$positive-background: rgba(207,236,138,0.47);
$positive-foreground: rgba(17,99,0,1);

$negative-background: rgba(255,0,0,0.15);
$negative-foreground: rgba(128,2,0,1);

$alert-background: rgba(255,148,0,0.19);
$alert-foreground: rgba(123,63,0,1);

$info-background: rgba(0,132,255,0.13);
$info-foreground: rgba(0,98,152,1);

// navigation bar -------------------------------------------------------------
$navigation-bar-background: $background-page-base;
$navigation-bar-foreground: $font-color-dull;
$navigation-bar-active-border-size: $border-size-large;
$navigation-bar-active-border: solid $navigation-bar-active-border-size $primary-accent-color;

// gallery --------------------------------------------------------------------
$gallery-item-width: 22rem;
$gallery-item-height: 15rem;
$gallery-item-gap: 1rem;

// break-points ---------------------------------------------------------------
$resolution-phone: 600px;
$resolution-tablet: 750px;
$resolution-laptop: 1000px;
$resolution-desktop: 1200px;