@import "settings";

// base settings --------------------------------------------------------------
*, ::after, ::before { box-sizing: border-box; }
html { font-size: 62.5%; height: 100vh; } // scale adjustment: 0.1rem == 1px
body {
	@extend .margin-0;
	font-family: $primary-font;
	font-size: $font-size-normal;
	line-height: $line-height;
	color: $font-color-normal;
	background: $background-page-base;
}

@font-face {
	font-family: $primary-font, "Roboto", Arial, sans-serif;
	font-weight: $font-weight-normal;
	font-display: swap;
	src: local('IBM Plex Sans'), local('IBMPlexSans');
	src: url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYXgKVElMYYaJe8bpLHnCwDKhdzeFb5N.woff2) format('woff2');
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}

// firefox font rendering fix
@-moz-document url-prefix() {
	p.text-bold,label,th,button {
		font-weight: 450;
	}
}

// smooth scrolling
[scroll-behavior=smooth] {
	scroll-behavior: smooth
}

// font related classes
.text-bold				{ font-weight: $font-weight-bold; }
.text-justify 			{ text-align: justify; }
.text-color-normal		{ color: $font-color-normal; }
.text-color-primary		{ color: $primary-accent-color; }
.text-color-inverted 	{ color: lighten(invert($font-color-normal), 20%); }

// emphasis tag
em {
	@extend .text-bold;
	@extend .text-color-primary;
	font-style: normal;
}

// transition
.transition { -webkit-transition: background,border 0.3s ease 0s; transition: background,border 0.3s ease 0s; }

section     { @extend .margin-0; }
.container {
	@extend .padding-vertical-0;
	@extend .padding-horizontal-5;
	position: relative;
	width: 100%;
	max-width: $container-width;
	margin: 0 auto;
	// overflow: hidden;
	border-radius: $border-radius;
}

// buttons --------------------------------------------------------------------
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	@extend .padding-horizontal-5;
	@extend .padding-vertical-1;
	@extend .transition;
	@extend .text-bold;
	display: inline-block;
	height: $button-height;
	color: $button-foreground;
	text-align: center;
	font-size: $font-size-small - 0.1rem;
	// line-height: $line-height;
	vertical-align: top;
	letter-spacing: $letter-spacing;
	text-transform: uppercase;
	// text-decoration: none;
	// white-space: nowrap;
	background: $button-background;
	border-radius: $border-radius;
	border: solid $border-size-normal $border-color-dark;
	cursor: pointer;
	&:hover, &:focus {
		border-color: darken( $border-color-normal, 30% );
		outline: 0;
	}
}

.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
	color: $button-primary-foreground;
	background-color: $button-primary-background;
	border-color: darken($button-primary-background, 10%);
	&:hover, &:focus {
		color: $button-primary-hover-foreground;
		background-color: $button-primary-hover-background;
		border-color: darken( $button-primary-background, 10% );
	}
}

.button-thin {
	@extend .text-bold;
	@extend .padding-horizontal-3;
	@extend .padding-vertical-0;
	height: $button-height - 1rem;
	font-size: $font-size-small - 0.3rem;
}

// lists ----------------------------------------------------------------------
li      		{ @extend .margin-bottom-2; }
ul      		{ list-style: circle inside; }
ol      		{ list-style: decimal inside; }
ol, ul  		{ @extend .margin-top-0; padding-left: 0; }
ul ul, ul ol,
ol ol, ol ul   {
	@extend .margin-vertical-3;
	@extend .margin-horizontal-5;
	font-size: $font-size-normal * 0.9;
}

// code -----------------------------------------------------------------------
code {
	@extend .margin-0;
	@extend .padding-vertical-2;
	@extend .padding-horizontal-3;
	font-size: $font-size-normal * 0.9;
	background: $code-background;
	color: $code-foreground;
	border: solid $border-size-normal $border-color-normal;
	border-radius: $border-radius;
	display: block;
}

pre {
	@extend .margin-0;
	overflow-x: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
}

// utilities ------------------------------------------------------------------
.full-width { width: 100%; }

// align content inside the parent element 										// Implement Floats
.content-align-center   { text-align: center; }
.content-align-left     { text-align: left; }
.content-align-right    { text-align: right; }

// auto clearing --------------------------------------------------------------
.container:after {
	content: "";
	display: table;
	clear: both;
}

// margin and padding ---------------------------------------------------------
.margin-padding-0 		{ margin: 0; padding: 0; }

// margins --------------------------------------------------------------------
.margin-0				{ margin: 0; }
.margin-1				{ margin: $spacing-1; }
.margin-2				{ margin: $spacing-2; }
.margin-3				{ margin: $spacing-3; }
.margin-4				{ margin: $spacing-4; }
.margin-5				{ margin: $spacing-5; }
.margin-big				{ margin: $spacing-big; }
.margin-huge			{ margin: $spacing-huge; }
.margin-auto 			{ margin: auto; }
.margin-vertical-0		{ margin-top: 0; margin-bottom: 0; }
.margin-vertical-1		{ margin-top: $spacing-1; margin-bottom: $spacing-1; }
.margin-vertical-2		{ margin-top: $spacing-2; margin-bottom: $spacing-2; }
.margin-vertical-3		{ margin-top: $spacing-3; margin-bottom: $spacing-3; }
.margin-vertical-4		{ margin-top: $spacing-4; margin-bottom: $spacing-4; }
.margin-vertical-5		{ margin-top: $spacing-5; margin-bottom: $spacing-5; }
.margin-vertical-big	{ margin-top: $spacing-big; margin-bottom: $spacing-big; }
.margin-vertical-huge	{ margin-top: $spacing-huge; margin-bottom: $spacing-huge; }
.margin-vertical-auto	{ margin-top: auto; margin-bottom: auto; }
.margin-horizontal-0	{ margin-left: 0; margin-right: 0; }
.margin-horizontal-1	{ margin-left: $spacing-1; margin-right: $spacing-1; }
.margin-horizontal-2	{ margin-left: $spacing-2; margin-right: $spacing-2; }
.margin-horizontal-3	{ margin-left: $spacing-3; margin-right: $spacing-3; }
.margin-horizontal-4	{ margin-left: $spacing-4; margin-right: $spacing-4; }
.margin-horizontal-5	{ margin-left: $spacing-5; margin-right: $spacing-5; }
.margin-horizontal-big	{ margin-left: $spacing-big; margin-right: $spacing-big; }
.margin-horizontal-huge	{ margin-left: $spacing-huge; margin-right: $spacing-huge; }
.margin-horizontal-auto { margin-left: auto; margin-right: auto; }
.margin-top-0			{ margin-top: 0; }
.margin-top-1			{ margin-top: $spacing-1; }
.margin-top-2			{ margin-top: $spacing-2; }
.margin-top-3			{ margin-top: $spacing-3; }
.margin-top-4			{ margin-top: $spacing-4; }
.margin-top-5			{ margin-top: $spacing-5; }
.margin-top-big			{ margin-top: $spacing-big; }
.margin-top-huge		{ margin-top: $spacing-huge; }
.margin-top-auto 		{ margin-top: auto; }
.margin-bottom-0		{ margin-bottom: 0; }
.margin-bottom-1		{ margin-bottom: $spacing-1; }
.margin-bottom-2		{ margin-bottom: $spacing-2; }
.margin-bottom-3		{ margin-bottom: $spacing-3; }
.margin-bottom-4		{ margin-bottom: $spacing-4; }
.margin-bottom-5		{ margin-bottom: $spacing-5; }
.margin-bottom-big		{ margin-bottom: $spacing-big; }
.margin-bottom-huge		{ margin-bottom: $spacing-huge; }
.margin-bottom-auto 	{ margin-bottom: auto; }

// padding --------------------------------------------------------------------
.padding-0				{ padding: 0; }
.padding-1				{ padding: $spacing-1; }
.padding-2				{ padding: $spacing-2; }
.padding-3				{ padding: $spacing-3; }
.padding-4				{ padding: $spacing-4; }
.padding-5				{ padding: $spacing-5; }
.padding-big			{ padding: $spacing-big; }
.padding-huge			{ padding: $spacing-huge; }
.padding-auto 			{ padding: auto; }
.padding-vertical-0		{ padding-top: 0; padding-bottom: 0; }
.padding-vertical-1		{ padding-top: $spacing-1; padding-bottom: $spacing-1; }
.padding-vertical-2		{ padding-top: $spacing-2; padding-bottom: $spacing-2; }
.padding-vertical-3		{ padding-top: $spacing-3; padding-bottom: $spacing-3; }
.padding-vertical-4		{ padding-top: $spacing-4; padding-bottom: $spacing-4; }
.padding-vertical-5		{ padding-top: $spacing-5; padding-bottom: $spacing-5; }
.padding-vertical-big	{ padding-top: $spacing-big; padding-bottom: $spacing-big; }
.padding-vertical-huge	{ padding-top: $spacing-huge; padding-bottom: $spacing-huge; }
.padding-vertical-auto 	{ padding-top: auto; padding-bottom: auto; }
.padding-horizontal-0	{ padding-left: 0; padding-right: 0; }
.padding-horizontal-1	{ padding-left: $spacing-1; padding-right: $spacing-1; }
.padding-horizontal-2	{ padding-left: $spacing-2; padding-right: $spacing-2; }
.padding-horizontal-3	{ padding-left: $spacing-3; padding-right: $spacing-3; }
.padding-horizontal-4	{ padding-left: $spacing-4; padding-right: $spacing-4; }
.padding-horizontal-5	{ padding-left: $spacing-5; padding-right: $spacing-5; }
.padding-horizontal-big { padding-left: $spacing-big; padding-right: $spacing-big; }
.padding-horizontal-huge { padding-left: $spacing-huge; padding-right: $spacing-huge; }
.padding-horizontal-auto { padding-left: auto; padding-right: auto; }
.padding-top-0			{ padding-top: 0; }
.padding-top-1			{ padding-top: $spacing-1; }
.padding-top-2			{ padding-top: $spacing-2; }
.padding-top-3			{ padding-top: $spacing-3; }
.padding-top-4			{ padding-top: $spacing-4; }
.padding-top-5			{ padding-top: $spacing-5; }
.padding-top-big		{ padding-top: $spacing-big; }
.padding-top-huge		{ padding-top: $spacing-huge; }
.padding-top-auto 		{ padding-top: auto; }
.padding-bottom-0		{ padding-bottom: 0; }
.padding-bottom-1		{ padding-bottom: $spacing-1; }
.padding-bottom-2		{ padding-bottom: $spacing-2; }
.padding-bottom-3		{ padding-bottom: $spacing-3; }
.padding-bottom-4		{ padding-bottom: $spacing-4; }
.padding-bottom-5		{ padding-bottom: $spacing-5; }
.padding-bottom-big		{ padding-bottom: $spacing-big; }
.padding-bottom-huge	{ padding-bottom: $spacing-huge; }
.padding-bottom-auto 	{ padding-bottom: auto; }

// navigation bar -------------------------------------------------------------
nav {
	@extend .padding-vertical-3;
	display: flex;
	flex-wrap: wrap;
	// align-items: center;
	justify-content: space-between;
	background: $navigation-bar-background;
	color: $navigation-bar-foreground;
	& > div { display: inline-block; }

	.logo {
		@extend .margin-bottom-1;
		@extend .text-bold;
		display: inline-block;
		margin-right: $spacing-5;
		font-size: $font-size-large;
	}

	.links {
		display: inline-block;
		a {
			@extend .padding-vertical-2;
			@extend .padding-horizontal-3;
			@extend .transition;
			color: $navigation-bar-foreground;
			vertical-align: sub;
			text-decoration: none;
			text-align: center;
			border-bottom: solid $navigation-bar-active-border-size transparent;
			&:hover { background: $background-hover; }
		}
		.active { border-bottom: $navigation-bar-active-border; }
	}
}

@media only screen and (max-width: $resolution-phone) {
	nav 			{ flex-direction: column; }
	nav .links a 	{ display: block; text-align: left; }
}

// gallery stylings -----------------------------------------------------------
.gallery {
	@extend .content-align-center;
	font-size: 0;
	.item {
		display: inline-block;
		width: $gallery-item-width;
		height: $gallery-item-height;
		border-width: 0px;
		border-radius: $border-radius;
		overflow: hidden;
		margin: $gallery-item-gap;
	}
}

img,video {
	@extend .margin-padding-0;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

// headings -------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
	@extend .margin-top-0;
	@extend .margin-bottom-1;
	font-weight: $font-weight-normal;
}

// font sizes
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -0.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -0.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -0.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -0.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -0.05rem; }
h6 { font-size: 1.4rem; line-height: 1.8;  letter-spacing: -0.02rem; }

// adjust for mobile
@media only screen and (min-width: $resolution-phone) {
	h1 { font-size: 5.0rem; }
	h2 { font-size: 4.2rem; }
	h3 { font-size: 3.6rem; }
	h4 { font-size: 3.0rem; }
	h5 { font-size: 2.4rem; }
	h6 { font-size: 1.7rem; }
}

// misc tweaks ----------------------------------------------------------------
p { @extend .margin-0; font-size: $font-size-normal; }

hr {
	@extend .margin-vertical-2;
	@extend .margin-horizontal-0;
	border-width: 0;
	border-top: solid $border-size-normal $border-color-normal;
}

// text selection background
::-moz-selection {
	background: $background-selection;
}
::selection {
	background: $background-selection;
}

a {
	text-decoration: none;
	background: $link-background-normal;
	color: $link-foreground-normal;
	&:hover {
		background: $link-background-hover;
		color: $link-foreground-hover;
	}
}

// table ----------------------------------------------------------------------
table {
	font-size: $font-size-normal;
	border-spacing: 0;
	tbody tr 			{ @extend .transition; }
	tbody tr:hover  	{ background: $background-hover; }
	th,td {
		padding: $spacing-2 $spacing-2;
		text-align: left;
		border-bottom: solid $border-size-normal $input-border-normal;
	}
}

// forms ----------------------------------------------------------------------
form {
	// field descriptions
	p {
		// @extend .margin-vertical-0;
		color: $font-color-dull;
		font-size: $font-size-small;
		font-weight: $font-weight-normal;
		line-height: $line-height - 0.4rem;
		text-align: justify;
		display: block;
	}
}

input,
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="date"],
input[type="password"] {
	@extend .padding-vertical-1;
	@extend .padding-horizontal-2;
	@extend .transition;
	height: $button-height;
	background: $input-background;
	border: solid $border-size-normal $input-border-normal;
	border-radius: $border-radius;
	box-shadow: none;
	font-size: $font-size-normal;
	font-weight: $font-weight-normal;
	&:focus {
		border: solid $border-size-normal $input-border-focus;
		outline: 0;
		background: lighten($input-background, 70%);
	}
}

select {
	@extend input;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	background-repeat: no-repeat, repeat;
	background-position: right 1rem top 50%, 0 0;
	background-size: 0.7rem auto, 100%;
}

input::placeholder {
	color: $input-foreground-placeholder;
}

textarea {
	@extend input;
	@extend .padding-vertical-1;
	min-height: $font-size-normal * 8;
	resize: none;
}

label {
	@extend .text-bold;
	display: block;
}

fieldset {
	@extend .margin-padding-0;
	@extend .margin-top-4;
	border-width: 0;
	& > * {
		@extend .full-width;
	}
}

input[type="checkbox"],
input[type="radio"] {
	display: inline;
}

label > .label-body {
	@extend .margin-horizontal-1;
	display: inline-block;
	font-weight: $font-weight-normal;
}

.input-error {
	label, p {
		color: $negative-foreground;
	}
	input, textarea, select {
		background-color: lighten($negative-background,20%);
		border: solid $border-size-normal $input-error-border;
	}
	input:focus, textarea:focus, select:focus {
		border-color: darken($input-error-border, 20%);
	}
}

// switches -------------------------------------------------------------------
input[type="checkbox"]:empty { display: none; }

input[type="checkbox"]:empty ~ label {
	@extend .margin-vertical-1;
	line-height: $switch-height;
	font-weight: $font-weight-normal;
	position: relative;
	text-indent: $switch-width + $switch-label-margin;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input[type="checkbox"]:empty ~ label:before,
input[type="checkbox"]:empty ~ label:after {
	@extend .transition;
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: "";
	width: $switch-width;
	background-color: $background-active;
	border: solid $border-size-normal $input-border-normal;
	border-radius: $border-radius;
}

input[type="checkbox"]:empty ~ label:after {
	width: $switch-height - $switch-padding;
	top: $switch-padding;
	bottom: $switch-padding;
	margin-left: $switch-padding;
	background-color: $background-page-base;
	border-radius: $border-radius;
	border: solid $border-size-normal $input-border-normal;
}

input[type="checkbox"]:checked ~ label:before {
	background-color: $primary-accent-color;
	border: solid $border-size-normal darken($primary-accent-color, 10%);
}

input[type="checkbox"]:checked ~ label:after {
	margin-left: $switch-width - $switch-height;
}

// page buttons ---------------------------------------------------------------
.page-buttons {
	display: inline-table;
	border: solid $border-size-normal $border-color-normal;
	border-radius: $border-radius;
	overflow: hidden;
	// font-size: 0;
	a {
		@extend .padding-horizontal-2;
		@extend .padding-vertical-0;
		@extend .transition;
		font-size: $font-size-small;
		display: inline-block;
		border-radius: 0;
		color: lighten( $font-color-dull, 10%);
	}
	a:hover {
		background: $background-active;
	}
	.active {
		background: $background-active;
	}
}

// groups ---------------------------------------------------------------------
.group-horizontal {
	font-size: 0;
	& input { @extend .full-width; border-radius: 0; }
	& * {
		display: inline-block;
		// width: 0;
		// min-width: 0;
		border-radius: 0;
		&:first-child {
			// margin-right: -$border-size-normal;
			border-radius: $border-radius 0 0 $border-radius;
		}
		&:last-child {
			// margin-left: -$border-size-normal;
			border-radius: 0 $border-radius $border-radius 0;
		}
	}
}

.group-vertical {
	font-size: 0;
	& > input,
	& > div {
		@extend .full-width;
		border-radius: 0;
		margin-bottom: -$border-size-normal;
		&:first-child {
			border-radius: $border-radius $border-radius 0 0;
		}
		&:last-child {
			margin-bottom: 0;
			border-radius: 0 0 $border-radius $border-radius;
		}
	}
}

// footer --------------------------------------------------------------------
footer {
	@extend .margin-top-4;
	@extend .padding-vertical-big;
	font-size: $font-size-small;
	background: $footer-background;
	color: $footer-foreground;
}

// message and boxes ----------------------------------------------------------
.message {
	@extend .rounded-corners;
	@extend .padding-4;
	background: $background-active;
	color: $font-color-dull;
	.text-bold { @extend .margin-bottom-1; }
}

.flash-message {
	display: table;
	background: $background-active;
	width: 100%;
	radius: 0;
	.container 	{ background: transparent; }
	p 			{ @extend .margin-vertical-2; }
}

.rounded-corners {
	border-width: 0px;
	border-radius: $border-radius;
	overflow: hidden;
}

// strick element to top of the screen ----------------------------------------
.sticky { 																		// FIXME
	position: sticky;
	top: 0;
	z-index: 1000;
}

@media only screen and (max-width: $resolution-phone) {
	.sticky { position: static; }
}

// shadows --------------------------------------------------------------------
.shadow-normal 	{ box-shadow: $shadow-normal; }
.shadow-large 	{ box-shadow: $shadow-large; }

// inline tags ----------------------------------------------------------------
.tag {
	@extend .padding-1;
	padding-left: 8px;
	padding-right: 8px;
	font-size: $font-size-small;
	font-family: monospace;
	background: $background-active;
	color: darken($font-color-normal,20%);
	border-width: 0px;
	border-radius: $border-radius;
}

// blockquotes ----------------------------------------------------------------
blockquote {
	@extend .margin-0;
	@extend .padding-5;
	@extend .text-bold;
	display: block;
	border-left: solid $border-size-large $primary-accent-color;
	background: $background-hover;
	& > p { @extend .margin-0; }
}

// event colors ---------------------------------------------------------------
.positive {
	background: $positive-background;
	color: $positive-foreground;
	// border-color: $positive-border-color;
}

.negative {
	background: $negative-background;
	color: $negative-foreground;
	// border-color: $negative-border-color;
}

.alert {
	background: $alert-background;
	color: $alert-foreground;
	// border-color: $alert-border-color;
}

.info {
	background: $info-background;
	color: $info-foreground;
	// border-color: $info-border-color;
}

// grid & flex system ----------------------------------------------------------------
.grid 			{ display: grid; grid-gap: $spacing-3; }
.two-column 	{ grid-template-columns: repeat(auto-fit, minmax( $container-width/2.75, 1fr)); }
.three-column 	{ grid-template-columns: repeat(auto-fit, minmax( $container-width/3.75, 1fr)); }
.four-column 	{ grid-template-columns: repeat(auto-fit, minmax( $container-width/4.75, 1fr)); }
.five-column 	{ grid-template-columns: repeat(auto-fit, minmax( $container-width/5.75, 1fr)); }
.six-column 	{ grid-template-columns: repeat(auto-fit, minmax( $container-width/6.75, 1fr)); }

// switch to single column at below 600px
@media only screen and (max-width: $resolution-phone) {
	.two-column, .three-column, .four-column,
	.five-column, .six-column { grid-template-columns: 1fr; }
}

.flex-horizontal 	{ display: flex; flex-direction: row; }
.flex-vertical 		{ display: flex; flex-direction: column; }
.flex-1 			{ flex: 1; }
.flex-2 			{ flex: 2; }
.flex-3 			{ flex: 3; }
.flex-4 			{ flex: 4; }
.flex-5 			{ flex: 5; }
.flex-6 			{ flex: 6; }

// break-point templates ( copy from here when needed ) -----------------------
// @media only screen and (min-width: $resolution-phone) {}
// @media only screen and (min-width: $resolution-tablet) {}
// @media only screen and (min-width: $resolution-laptop) {}
// @media only screen and (min-width: $resolution-desktop) {}

// ----------------------------------------------------------------------------