// variables
$navigation-bar-background: rgba(255,255,255,1);
$navigation-bar-foreground: rgba(34,34,34,1);
$navigation-bar-anchor-hover-background: $background-hover;
$navigation-bar-border: solid $border-size-normal $border-color-normal;
$navigation-bar-border-hover: solid $border-size-large darken($border-color-normal, 30%);
$navigation-bar-border-active: solid $border-size-large darken($border-color-normal, 40%);

// element styling
nav {
	background: $navigation-bar-background;
	font-size: 0;
	border-bottom: $navigation-bar-border;
	a {
		@extend .padding-horizontal-4;
		@extend .padding-top-2;
		@extend .padding-bottom-1;
		@extend .transition;
		display: inline-block;
		font-size: $font-size-small;
		color: $navigation-bar-foreground;
		text-align: center;
		text-decoration: none;
		border-bottom: solid $border-size-large transparent;
		margin-bottom: $border-size-normal - $border-size-large;
		&:hover {
			background: $navigation-bar-anchor-hover-background;
			color: $navigation-bar-foreground;
			border-bottom: $navigation-bar-border-hover;
		}
	}
	.active {
		font-weight: $font-weight-bold;
		border-bottom: $navigation-bar-border-active;
	}
}

// switch to mobile at small screen
@media only screen and (max-width: 600px) {
	nav a {
		@extend .padding-horizontal-4;
		display: block;
		text-align: left;
		&:hover { border-bottom: solid $border-size-large transparent; }
	}
	nav .active { border-bottom: solid $border-size-large transparent; }
}

