:root {
	/*navbar*/
	--nav-bg: white;
	--nav-fg: var(--fg-color-normal);
	--nav-border-active: var(--accent-color-primary);
	--nav-border-size: 2px;
}

/*navbar*/
.navbar {
	margin: var(--spacing-2) 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background: var(--nav-bg);
	color: var(--fg-color-normal);
}

.navbar .logo {
	margin-right: var(--spacing-5);
	font-weight: var(--fg-weight-normal);
	font-size: calc( var(--fg-size-normal) * 1.6 );
	padding: 0;
	display: flex;
}

.navbar .logo span {
	margin: auto;
}

.navbar .logo span a {
	color: var(--fg-color-normal);
}

.navbar .links {
	display: flex;
}

.navbar .links a {
	padding: var(--spacing-2) var(--spacing-3);
	color: var(--nav-fg);
	text-decoration: none;
	text-align: center;
	border-bottom: solid var(--nav-border-size) transparent;
}

.navbar .links a:hover {
	border-bottom: solid var(--nav-border-size) var(--nav-border-active);
}

.navbar .active {
	font-weight: var(--fg-weight-bold);
	color: var(--nav-fg);
}

@media only screen and (max-width: 800px) {
	.navbar						{ display: block }
	.navbar .logo 		{ display: block; padding: var(--spacing-3) 0; }
	.navbar .links 		{ display: block; }
	.navbar .links a 	{ display: block; padding: var(--spacing-2) 0; text-align: left; }
}


@media only screen and (max-width: 800px) {
	#download-button { width: 100%; }
}

.section-title {
	margin: var(--spacing-1) 0 var(--spacing-big) 0;
}

#about {
	text-align: center;
}

@media only screen and (max-width: 800px) {
	#about p { padding: var(--spacing-2) 0; }
}

#about .feather-logo {
	border-radius: 100%;
	background-color: var(--bg-color-dull);
	max-width: 30rem;
	padding: var(--spacing-5);
	margin: 0 auto var(--spacing-4) auto;
}

#features {
	background-color: var(--bg-color-dull);
	text-align: center;
}

#features .card {
	padding: var(--spacing-big);
	background-color: white;
	border-bottom: solid calc(var(--border-size-normal) * 2) transparent;
}

#features .card:hover {
	border-bottom: solid calc(var(--border-size-normal) * 2) var(--accent-color-primary);
}

#features .card h4 {
	margin-bottom: var(--spacing-3);
}

@media only screen and (max-width: 800px) {
	#features .card { padding: var(--spacing-5); }
}

footer {
	background-color: var(--bg-color-dark);
}

footer .icons img {
	width: 2rem;
	margin: calc(var(--spacing-1) / 2) var(--spacing-1) 0 0;
}


/*documentation page styling*/
#documentation-view {
	grid-template-columns: 20rem auto;
	grid-template-rows: auto;
}

#documentation-overview {
	font-size: var(--fg-size-small);
}

#documentation-overview a {
	display: block;
	padding: var(--spacing-1) 0 var(--spacing-1) var(--spacing-1);
	color: var(--fg-color-normal);
	border-width: 0;
	border-radius: var(--border-radius);
}

#documentation-overview a:hover {
	background-color: var(--bg-color-dull);
}

#documentation-overview a:active {
	background-color: var(--bg-color-dark);
	font-weight: var(--fg-weight-bold);
}

#documentation-details p {
	text-align: justify;
}

#documentation-details section {
	padding: 0 0 var(--spacing-4) 0;
}

#documentation-details pre {
	margin: var(--spacing-2) 0;
}

#documentation-details hr {
	margin-bottom: var(--spacing-4);
}